<<<<<<< HEAD
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eceff1;
  font-family: sans-serif;
}
canvas {
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
=======
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eceff1;
  font-family: sans-serif;
}
canvas {
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
>>>>>>> bde5a0b188023540c25cfad011c8edb112c8d53e
}